:root {
    --bg-color: #282a36;
    --main-textc: #fff8de;
    --alt-textc: rgba(119,244,136,255);
    --nav-color: #b799e3;

    --transparent-1: #fff8de;

    --tiny-padding: 5px;
    --small-margin: 20px;
    --mid-margin: 60px;
    --large-margin: 100px;
    --half: 50%;
    --half-height: 50vh;

    --image-width: 500px;
    --image-height: 400px;
    --small-animation-timer: 3s;
    
    --small-font: 20px;
    --mid-font: 35px;
    --big-font: 50px;
    --font-fam: Trebuchet MS, sans-serif;

    --tiny-border-width: 1px;
    --small-border-width: 5px;
}

html {font-family: var(--font-fam);}

main {color: var(--alt-textc);}

.comingsoon {

    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.screenshot {
    margin: var(--small-margin) var(--small-margin) 0 0;
    float: right;
    width: var(--image-width);
    height: var(--image-height);
}

h1 {margin-top: 0; text-align: center;}
.text {
    text-align: center;
    height: var(--image-height);
    padding: 0;
    margin: 0;
}